.nav-container{
    @include flspa;
    list-style: none;
    padding: 0;
    @media (max-width:650px){        
        @include flcecol;
        margin: 0 60px 0 60px;
        text-align: center;
    }    
    .nav-link{        
        @include border(1px, 15px, 0 40px 0 40px);
        font-size: 22px;
        @include box-shadow;
        color: $text-color;
        background-color: $primary-color;
        @media (max-width:650px){
            margin-bottom:20px ;
        }    
    }
}