.home{
    
    .home-container{
        display: flex;
        justify-content: center;
    }
    .post-container{
        width: 100%;
        h1{
            display: flex;
            justify-content: center;
            margin: 60px 0 60px 0;
            font-size: 35px;
        }
        .posts{
            display: flex;
            justify-content: space-around;
            .post{
                font-size: 18px;
                border: 2px solid;
                border-radius: 18px;
                padding: 0 20px 10px 20px;
                width: 400px;
                .post-picture{
                    object-fit: contain;
                    display: flex;
                    max-width: 250px;
                    justify-content: center;
                    margin-left: 75px;
                }
            }            
        }
    }
    

}