.profil{
    width: 100%;
    .form-profil{
        display: flex;
        .user-form{
            max-width: 100%;
            .user-container{
                display: flex;
                justify-content: space-around;
                flex-direction: row;
                max-width: 100%;
        }

       

       } 
    }
}