@mixin flcecol{
    display: flex;    
    justify-content: center;
    flex-direction: column;
}

@mixin flce {
    display: flex;
    justify-content: center;
}

@mixin flspa {
    display: flex;
    justify-content: space-around;  
}

@mixin flspb {
    display: flex;
    justify-content: space-between;
}

@mixin flalc {
    display: flex;
    align-items: center;
}

@mixin flcol {
    display: flex;
    flex-direction: column;
}

@mixin flsparo {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

@mixin flspacol {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

@mixin flspbro {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

@mixin border($size, $radius, $pad) {
    border: $size solid;
    border-radius: $radius;
    padding: $pad;    
}

@mixin box-shadow {
    box-shadow: 3px 3px 1px $tertiary-color;
}