header{
    display: flex;
    justify-content: space-between;    
    margin: 40px 0 80px 0;
    .logo{
        object-fit: contain;        
        width: 350px;     
    }
    .logout{
        align-items: center;
        display: flex;
        margin-right: 40px;
        .banner-link{            
            cursor: pointer;         
            .icon-header{
                font-size: 40px;
                color: $primary-color;                           
            }      
        }   
    }
    
}