header{
    display: flex;
    justify-content: space-between;    
    height: 200px;
    .logo{
        object-fit: contain;        
        width: 380px;
        
    }
    span{
        cursor: pointer;
        
        .icon-header{
            font-size: 40px;
            margin: 50px 40px 0 0;
           
        }      
    }
    
}