@import "../utils/_mixin";
.nav-container{
    @include flspa;
    list-style: none;    
    .nav-link{        
        @include border(1px, 15px, 0 40px 0 40px);
        font-size: 22px;
        @include box-shadow;
        color: $text-color;
        background-color: $primary-color;
    }
}