.nav-container{
    display: flex;
    justify-content: space-around;
    list-style: none;
    .nav-link{
        border-radius: 15px;
        border: 2px solid;
        padding: 0 40px 0 40px;
        font-size: 18px;
        box-shadow: 3px 3px 1px rgba(51, 51, 51, 0.418);
    }
}